<html>
<head>
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
<link rel="stylesheet" href="{{web_prefix}}/static/css.css" />
<script src=https://unpkg.com/jquery@3.3.1/dist/jquery.js></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- <script src="https://unpkg.com/element-ui@2.5.4/lib/index.js"></script> -->
<!-- <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script> -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
<title>ChemViewer</title>
</head>
<body>
    <div id='app'>
        <el-container style="min-height:100%">
            <el-container style="border: 1px solid #eee">
              {% raw %}
              <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                <el-row>
                  <el-input v-model="path_input" placeholder="Path" v-on:keyup.native.enter="list_dir">
                    <el-button slot="append" v-on:click="list_dir" icon="el-icon-search"></el-button>
                  </el-input>
                </el-row>
                <div class="file_item">
                  <i class="el-icon-arrow-up"></i>
                  <a href='#' v-on:click="select_dir(0)">..</a>
                </div>
                <div class="file_item" v-for="dir in dirs">
                  <i class="el-icon-arrow-right"></i>
                  <a class="dir" href='#' v-on:click="select_dir(dir)">{{dir}}</a>
                </div>
                <div class="file_item" v-for="filename in filenames">
                  <i class="el-icon-document"></i>
                  <a class="file" href='#' v-on:click="select_file(filename)">{{filename}}</a>
                </div>
              </el-aside>
              <el-container>
                <div style="width:100%; margin:10px">
                  <p>Select a file from the left</p>
                  <el-input v-model="input_file" placeholder=""></el-input>
                  <el-row>
                    <p>Read compounds from the
                      <el-select v-model="smiles_column" placeholder="SMILES column">
                        <el-option
                          v-for="item in table_columns"
                          :key="item"
                          :label="item"
                          :value="item">
                        </el-option>
                      </el-select>
                    column. Length of the table: {{table_length}}</p>
                  </el-row>
                  <el-row>
                  <p>Calculate 
                    <el-select v-model="fingerprint" placeholder="fingerprint types">
                      <el-option
                        v-for="item in fingerprint_types"
                        :key="item"
                        :label="item"
                        :value="item">
                      </el-option>
                    </el-select>
                    fingerprints.
                    <el-button type="primary" v-on:click="calc_fingerprint">Run</el-button>
                    <el-button type='primary' v-on:click="calc_pca">PCA</el-button>
                    <el-button type='default' v-on:click="load_pca">LoadPCA</el-button>
                    <el-button type="default" v-on:click="get_structures">GetStructure</el-button>
                  </p>
                  </el-row>
                  <el-progress :text-inside="true" :stroke-width="26" :percentage="progress"></el-progress>
                  <el-container>
                    <el-aside width="300px" style="padding:20px">
                      <p>Size of Points</p>
                      <el-slider v-model="cycle_size" :min="0.5" :max="5" :step="0.5" v-on:change="refresh_scatter"></el-slider>
                      <el-button v-on:click="refresh_scatter">Refresh</el-button>
                      <div id='structure'></div>
                    </el-aside>
                    <el-main>
                      <div id='scatter'></div>
                    </el-main>
                  </el-container>
                  
                </div>
              </el-container>
              {% endraw %}
            </el-container>
            {% include 'footer.html' %}
        </el-container>

    </div>
    <script>
        GLOBAL_PAGE="analysis"
        GLOBAL_STD=true;
    </script>
    <script src="{{web_prefix}}/static/bundle.js"></script>
</body>
</html>
