<el-footer style="color: #333;line-height: 60px;background-color: #B3C0D1;text-align: center;">
    Chemviewer V {{version}} |
    Designed by <a href="https://www.zealseeker.com/about/">Hongbin Yang</a>
    | ©2019-2021
    | 
    <span style="top:4px; position: relative;">
      <a class="github-button"
        href="https://github.com/zealseeker/chemviewer/issues" 
        data-icon="octicon-issue-opened" 
        aria-label="Issue zealseeker/chemviewer on GitHub">Issue</a>
    </span>
</el-footer>
