<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="{{web_prefix}}/static/css.css" />
<script src=https://unpkg.com/jquery@3.3.1/dist/jquery.js></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- <script src="https://unpkg.com/element-ui@2.5.4/lib/index.js"></script> -->
<!-- <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script> -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<title>ChemViewer</title>
</head>
<body>

  <div id='app'>
    <el-container style="min-height:100%">
      <el-container style="border: 1px solid #eee">
        {% if standalone %}
        {% raw %}
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
          <el-row>
            <el-input v-model="path_input" placeholder="Path" v-on:keyup.native.enter="list_dir">
              <el-button slot="append" v-on:click="list_dir" icon="el-icon-search"></el-button>
            </el-input>
          </el-row>
          <div class="file_item">
            <i class="el-icon-arrow-up"></i>
            <a href='#' v-on:click="select_dir(0)">..</a>
          </div>
          <div class="file_item" v-for="dir in dirs">
            <i class="el-icon-arrow-right"></i>
            <a class="dir" href='#' v-on:click="select_dir(dir)">{{dir}}</a>
          </div>
          <div class="file_item" v-for="filename in filenames">
            <i class="el-icon-document"></i>
            <a class="file" href='#' v-on:click="select_file(filename)">{{filename}}</a>
          </div>
        </el-aside>
        {% endraw %}
        {% endif %}
        {% raw %}
        <el-container>
          <div style='width:100%; margin:10px'>
            <div v-if="inputShow">
              You can either fill the SMILES (and their names) of the compounds or upload a (.xls, .csv, .txt) table file.
              If both are input, it will first try to handle the uploaded files </br>
              The size of the file should be no more than 100K.
              <form>
                <el-input
                  type="textarea"
                  :autosize="{ minRows: 2, maxRows: 8}"
                  placeholder="SMILES"
                  v-model="text_smiles">
                </el-input>
                <input id="upload_input" type='file'
                  accept=".xls,.xlsx,.csv,.txt"></input>
                <el-button v-on:click="submit">Submit</el-button>
                <el-switch v-model="keepinput"
                  active-text="Keep input"
                  inactive-text="Hide input after submit"></el-switch>
              </form>
            </div>
            <div id="nevigate_bar" style="display: flex">
              <el-tabs v-model="activeTag" @tab-click="handleTagClick" style="flex:1">
                <el-tab-pane label="Spreadsheet" name="spreadsheet" v-bind:disabled="isReaction"></el-tab-pane>
                <el-tab-pane label="Grid" name="grid" v-bind:disabled="!isCompound"></el-tab-pane>
                <el-tab-pane label="Reaction" name="reaction" v-bind:disabled="!isReaction"></el-tab-pane>
              </el-tabs>
              <el-button :icon="inputShow?'el-icon-arrow-up':'el-icon-arrow-down'"
                style='float: right;width:50px' type="text" @click="click_input_hide"></el-button>
            </div>
            <div id='spreadsheet' class='tab_content' v-loading="loading">
              <el-table
                :data="tableData"
                style="width: 100%">
                <el-table-column label="Compound" v-if="isCompound">
                  <template slot-scope="scope">
                    <div style='width:150px;height:100px' v-html="scope.row._svg"></div>
                  </template>
                </el-table-column>
                <el-table-column v-for="col in cols"
                  v-bind:key="col"
                  :label="col"
                  :prop="col">
                </el-table-column>
              </el-table>
            </div>
            <div id='grid' class='tab_content'>
              <el-row :gutter="10">
                <el-col :span="8">
                  <div class="block" sytle="width:200px">
                    <span class="demonstration">Size of the pictures</span>
                    <el-slider
                      v-on:change="change_pic_size"
                      style="width:100%"
                      v-model="gridsize"
                      :min="100"
                      :max="400"
                      :step="50">
                    </el-slider>
                  </div>
                </el-col>
                <el-col :span="8">
                  <div>
                    <el-select v-model="cols" style="width:100%" multiple placeholder="Properties">
                      <el-option
                        v-for="item in allowed_cols"
                        :key="item"
                        :label="item"
                        :value="item">
                      </el-option>
                    </el-select>
                  </div>
                </el-col>
                <el-col :span="8"><div class="grid-content bg-purple"></div></el-col>
              </el-row>
              <div class="grid_unit" v-for="cmp in tableData" @click="openDialog(cmp)">
                <div class="grid_pic" style='width:150px;height:150px' v-html="cmp._svg"></div>
                <p v-for="col in cols" class="grid-property" :title="cmp[col]">
                  {{cmp[col]}}
                </p>
              </div>
              <div style="clear:both"></div>
            </div>
            <div id="reaction" class='tab_content' v-loading="loading">
              <el-table
                :data="tableData"
                style="width: 100%">
                <el-table-column label="Reaction" v-if="isReaction">
                  <template slot-scope="scope">
                    <div style='width:600px;height:150px;cursor:pointer' v-html="scope.row._svg"
                      @click="openDialog(scope.row)"></div>
                  </template>
                </el-table-column>
                <el-table-column v-for="col in cols"
                  v-bind:key="col"
                  :label="col"
                  :prop="col">
                </el-table-column>
              </el-table>
            </div>
            <el-dialog title="Detail" :visible.sync="dialogFormVisible" v-if="dialogCmp">
              <!-- picture -->
              <div class="cmp_big_pic" v-html="dialogPic"></div>
              <!-- properties -->
              <p v-for="col in cols">
                <span><b>{{col}}</b>:</span>
                {{dialogCmp[col]}}
              </p>
              <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">OK</el-button>
              </div>
            </el-dialog>
            <template>
              <div class="block" id="pagination">
                <el-pagination
                  @current-change="handleCurrentChange"
                  :page-sizes="[100, 200, 300, 400]"
                  :page-size.sync="pageSize"
                  layout="sizes, prev, pager, next"
                  :total="allData.length">
                </el-pagination>
              </div>
            </template>
          </div>

        </el-container>
        {% endraw %}
      </el-container> 
      {% include 'footer.html' %}
    </el-container>


  </div>
<script>
  GLOBAL_PAGE='main';
</script>
  {% if standalone %}
<script>
  GLOBAL_STD=true;
</script>
  {% endif %}

<script src="{{web_prefix}}/static/bundle.js"></script>

</body>
</html>
